@{
    DateTime data2 = new DateTime(2007, 1, 21, 1, 00, 35);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @String.Format("{0:t}", data2) 
    </div>
</body>
</html>
