@{

    long id = 0;
    string nome = "";
    if ((HttpContext.Current.Session["id"]) != null) { id = (long)HttpContext.Current.Session["id"]; }
    if ((HttpContext.Current.Session["nome"]) != null) { nome = (string)HttpContext.Current.Session["nome"]; }

    if (id == 0) {
        Response.Redirect("~/Login/Login");
    }
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <style>

        #menu {
            width: 990px;
            height:30px;
        }
        #menu ul {
            padding: 0px;
            margin: 0px;
            background-color: #EDEDED;
            list-style: none;
        }

            #menu ul li {
                display: inline;
            }

                #menu ul li a {
                    padding: 2px 10px;
                    display: inline-block;
                    /* visual do link */
                    background-color: #EDEDED;
                    color: #333;
                    text-decoration: none;
                    border-bottom: 3px solid #EDEDED;
                }

                    #menu ul li a:hover {
                        background-color: #D6D6D6;
                        color: #6D6D6D;
                        border-bottom: 3px solid #EA0000;
                    }
    </style>
    <header>
            <div>
                <p>Bem vindo @nome ( <a href="/Login/Deslogar">Logout</a> )</p>
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="/Usuario/List">Contatos</a></li>
                    <li><a href="/Evento/List">Eventos</a></li>
                    <li><a href="/Agenda/Index">Agenda</a></li>
                </ul>
            </nav>
            
        
        <div id="topo">
            <img src="../Content/img/topo.png" style="height:200px;">
        </div>
    </header>
    <div id="main">
        @RenderBody()
    </div>
    <footer>
        © @DateTime.Now.Year
    </footer>
    
</body>
</html>