@{ 
    Layout = null;
}
    <div id="topo">
        <img src="../Content/img/topo.png" style="height:200px;">
    </div>
    
    <div>
        <form action="/Login/Check" method="POST">
            <div><input type="text" placeholder="Digite o email" name="login"></div>
            <br/>
            <div><input type="password" placeholder="Digite a senha" name="pwd"></div>
            <br/>
            <div><input type="submit"></div>
        </form>
    </div>
    

